.price-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .title {
        margin-top: 63px;
        color: #0d386b;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .card {
        position: relative;
        margin-top: 35px;
        width: 837px;
        height: 310px;
        border-radius: 11px;
        background: #fff;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 30px;
        padding-bottom: 50px;

        .left-column {
            width: 376px;
            display: flex;
            flex-direction: column;
        }

        .right-column {
            width: 376px;
            display: flex;
            flex-direction: column;
        }
        .card-title {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 30px 0 0;
            h1 {
                color: #0d386b;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }
        .time {
            display: flex;
            align-items: center;
            span {
                color: #59697a;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                opacity: 0.7;
            }
        }
        .prices {
            margin-top: 38px;
            display: flex;
            flex-direction: column;
            gap: 23px;

            .price {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                color: #5c7c8d;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                .price-text {
                    color: #ff640d;
                    font-family: Roboto;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        .line-center {
            top: 130px;
            left: 418px;
            position: absolute;
            width: 1px;
            height: 184px;
            opacity: 0.7;
            background: #c4c4c4;
        }
    }
}
