@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  background-color: #ebeff2;
}

header {
  height: 170px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header-wrapper {
  margin-top: 30px;
  width: 1120px;
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .contacts {
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
header .header-wrapper .contacts .contacts-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 600px;
}
header .header-wrapper .contacts .contacts-block .phone {
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header .header-wrapper .contacts .contacts-block .phone:hover {
  text-decoration: underline;
}
header .header-wrapper .contacts .whatsApp {
  margin-top: 15px;
  width: 50px;
  height: 50px;
}
header nav {
  width: 1120px;
  display: flex;
  align-items: end;
  gap: 56px;
  height: 26px;
}
header nav a {
  height: 26px;
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
header nav a:hover {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid #0068c7;
}

.form {
  width: 100%;
  height: 618px;
  background-image: url("./image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  overflow: hidden;
}
.form .request {
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(-1.55deg);
  flex-shrink: 0;
}
.form .request .input-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 239.649px;
  height: 50.577px;
}
.form .request .input-wrapper label {
  color: #a6a6a6;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 44px;
}
.form .request .input-wrapper #phone {
  border-radius: 5px;
  border: 1px solid #cecece;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 240px;
  height: 50px;
  padding: 5px;
}
.form .request .h1 {
  color: #636363;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form .request .button {
  margin-top: 77px;
  width: 197.443px;
  height: 43.018px;
  border-radius: 2px;
  background: #00c838;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border: none;
}
.form .request .bg-circle {
  z-index: -1;
  position: absolute;
  left: -120px;
  top: -110px;
}

.block-info {
  position: relative;
  width: 392px;
  height: 301px;
  padding: 50px 0 40px 46px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 11px;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.7);
}
.block-info .item-info h3 {
  color: #0d386b;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.block-info .printing1 {
  z-index: 3;
  position: absolute;
  left: 235px;
  top: -135px;
}
.block-info .printing2 {
  z-index: 3;
  position: absolute;
  left: 290px;
  top: 20px;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.price-container .title {
  margin-top: 63px;
  color: #0d386b;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.price-container .card {
  position: relative;
  margin-top: 35px;
  width: 837px;
  height: 310px;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
}
.price-container .card .left-column {
  width: 376px;
  display: flex;
  flex-direction: column;
}
.price-container .card .right-column {
  width: 376px;
  display: flex;
  flex-direction: column;
}
.price-container .card .card-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 30px 0 0;
}
.price-container .card .card-title h1 {
  color: #0d386b;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.price-container .card .time {
  display: flex;
  align-items: center;
}
.price-container .card .time span {
  color: #59697a;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  opacity: 0.7;
}
.price-container .card .prices {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.price-container .card .prices .price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #5c7c8d;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price-container .card .prices .price .price-text {
  color: #ff640d;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price-container .card .line-center {
  top: 130px;
  left: 418px;
  position: absolute;
  width: 1px;
  height: 184px;
  opacity: 0.7;
  background: #c4c4c4;
}

.popular-goods {
  box-sizing: border-box;
  position: relative;
  margin-top: 105px;
  max-width: 100vw;
  width: 100%;
  height: 623px;
  background-image: url(./image/popular-goods-bg.png);
  background-size: cover;
}
.popular-goods .title {
  position: relative;
  top: 40px;
  color: #0d386b;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.popular-goods .card-good {
  position: absolute;
  padding: 20px 0 0 23px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 293px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.2);
}
.popular-goods .card-good .title-card {
  color: #0d386b;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
}
.popular-goods .card-good .subtitle {
  color: #979797;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.popular-goods .seal-bg {
  z-index: 9;
  position: absolute;
  top: 0px;
  left: 400px;
}
.popular-goods .one {
  top: 280px;
  left: 220px;
}
.popular-goods .two {
  top: 150px;
  left: 830px;
}
.popular-goods .three {
  top: 350px;
  left: 1000px;
}

.order-form {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
}
.order-form .title-order-form {
  margin-top: 80px;
  color: #0d386b;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.order-form .placing-an-order {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.order-form .placing-an-order .your-order {
  width: 254px;
  height: 243px;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
  padding: 24px 0 0 21px;
}
.order-form .placing-an-order .your-order .title {
  color: #bcbcbc;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .your-order h3 {
  margin-top: 23px;
  color: #636363;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.078%;
}
.order-form .placing-an-order .your-order .count {
  color: #636363;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.078%;
}
.order-form .placing-an-order .your-order .total-price h2 {
  color: #636363;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.078%;
}
.order-form .placing-an-order .your-order .total-price h3 {
  color: #ff8a00;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .ordering-block .selecting-the-type-of-printing {
  display: flex;
  flex-direction: column;
  width: 824px;
  height: 370px;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
}
.order-form .placing-an-order .ordering-block .selecting-the-type-of-printing .title {
  margin: 37px 0 0 15px;
  color: #636363;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .ordering-block .selecting-the-type-of-printing .cards {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order-form .placing-an-order .ordering-block .selecting-the-type-of-printing .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  padding: 20px;
  width: 210px;
  height: 210px;
  border-radius: 11px;
  border: 1px solid #e2e2e2;
  background: #fdfdfd;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.07);
}
.order-form .placing-an-order .ordering-block .order-details {
  padding: 36px 0 0 53px;
  margin-top: 25px;
  width: 771px;
  height: 3300px;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
}
.order-form .placing-an-order .ordering-block .order-details .title {
  margin-top: 36px;
  color: #636363;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .ordering-block .order-details .cards {
  margin-top: 28px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.order-form .placing-an-order .ordering-block .order-details .cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  padding: 50px 15px 15px 15px;
  width: 210px;
  height: 210px;
  border-radius: 11px;
  border: 1px solid #e2e2e2;
  background: #fdfdfd;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.07);
}
.order-form .placing-an-order .ordering-block .order-details .cards .card .question {
  position: absolute;
  top: 15px;
  right: 15px;
}
.order-form .placing-an-order .ordering-block .order-details .cards .card .seal-png {
  align-self: center;
}
.order-form .placing-an-order .ordering-block .order-details .container {
  display: flex;
  gap: 12px;
}
.order-form .placing-an-order .ordering-block .order-details .container label {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background: #f8f8f8;
}
.order-form .placing-an-order .ordering-block .order-details .container label span {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .ordering-block .order-details .count-block {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: #f8f8f8;
  padding: 10px 5px;
  width: 125px;
}
.order-form .placing-an-order .ordering-block .order-details .count-block a {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  color: #686868;
  background-color: #d4d4d4;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.order-form .placing-an-order .ordering-block .order-details .button-wrapper {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.order-form .placing-an-order .ordering-block .order-details .button-wrapper .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: #00d23b;
  width: 211px;
  height: 44px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
}
.order-form .placing-an-order .ordering-block .order-details .button-wrapper h1 {
  color: #898989;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .ordering-block .container-inputs {
  display: flex;
  gap: 17px;
}
.order-form .placing-an-order .ordering-block .container-inputs input,
.order-form .placing-an-order .ordering-block .container-inputs textarea {
  margin-top: 22px;
  fill: #fcfcfc;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d0d0d0;
  padding-left: 20px;
}
.order-form .placing-an-order .ordering-block .container-inputs .one {
  width: 465px;
  height: 44px;
}
.order-form .placing-an-order .ordering-block .container-inputs .two {
  width: 169px;
  height: 44px;
}
.order-form .placing-an-order .ordering-block .container-inputs .three {
  width: 192px;
  height: 44px;
}
.order-form .placing-an-order .ordering-block .container-inputs .four {
  padding-top: 10px;
  resize: none;
  width: 717px;
  height: 151px;
}
.order-form .placing-an-order .ordering-block label {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-form .placing-an-order .ordering-block label .checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.order-form .placing-an-order .ordering-block label .checkbox-circle {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #f5f5f5;
  border: 4px solid #d4d4d4;
  border-radius: 50px;
  vertical-align: sub;
  margin-right: 8px;
}
.order-form .placing-an-order .ordering-block label .checkbox-circle::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: #0d386b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease;
}
.order-form .placing-an-order .ordering-block label .checkbox:checked + .checkbox-circle::before {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */